body {
  /* background-image: url("img/background.png"); */
  background-color: white;
  background-repeat: fixed;
  background-size: cover;
}

header {
  background-color: white;
  height: 5vh;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  /* color: black; */
  /* position:fixed; */
  /* z-index: 1; */
}

h1 {
  /* font-family: 'Coda Caption', sans-serif; */
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 0px;
  /* text-shadow: #551755 20px 15px 20px; */
}

.rightSide {
  float: right;
}

#about_us, #projects, #services {
  /* width: 80%; */
  margin: auto;
  margin-bottom: 20px;
}

#about_us h2, #projects h2, #services h2 {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: #e6e119;
}

#about_us {
  background-color: #E0DBD7;
  /* border-top: 15px solid #551755;
  border-bottom: 15px solid #551755; */
  padding: 10px;
}

#about_us > section {
  display: flex;
  /* flex-direction: ; */
  align-self: flex-start;
}

#about_us p {
  font-size: 20px;
}

/* #projects, #services {
  background-color: #E0DBD7;
  border-top: 15px solid #551755;
  border-bottom: 15px solid #551755;
  padding: 10px;
} */

#projects > section, #services > section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#project section, #service section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #E0DBD7;
  /* opacity: 80%; */
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 400px;
  width: 400px;
  border: 1.5px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
}

.image img {
  height: 350px;
  width: 350px;
  margin: auto;
}

/* footer */
footer {
  background-color: #E0DBD7;
  width: 100%;
}

footer p {
  padding: 20px;
  text-align: center;
}